/*
  DIAGNOSTIC STYLING
*/
body {
  background: gray;
}

* {
  outline: 1px dotted black;
}

/* Nav */
nav{
  justify-content:center;
  justify-content: space-around;
  font-family:'Alegreya SC';
  font-size: 20pt;
}

.topnav {
  overflow: hidden;
  background-image: linear-gradient(to bottom,red, black);
  padding: 1em 1em;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.active {
  color: white;
}

.topnav-right {
  float: right;
}  

  .column{
   height: 50%;
    margin: 50px;
    width: 50%;
  }



/************
LAYOUT
************/
body {
  /* Center to Page   */
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  
  /* CSS Grid Layout   */
  
header,
footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}


/************
HEADER
************/
/* Your Styles */


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/************
FOOTER
************/
footer {
  text-align: center;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}