/*
  DIAGNOSTIC STYLING
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900"');

*{
  color: white;
  background-color: black;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer, article, main {
  grid-column: 1 / 4;
}


/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  font-family: 'Alegreya SC';
}

.logo{
  border: none;
  width: 100%;
  height: auto;
  
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 25vh;
}




article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 box-sizing: border-box;
 margin: 50px auto;
}


}
/* Video */
video {
  width: auto;
  height: 40vh;
  display: block;
  margin: 0 auto;
  border: 5px solid maroon;
  padding-bottom: 3em;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: maroon;
}

.title5{
  display: flex;
  justify-content: center;
  align-content: center;
}
p{
  font-family: roboto;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
}

/* Actors */
main section { 
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  font-size: 30px;
  padding: 2em 2em 2em 2em;
}

.cast{
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-content: center;
  color: maroon
}

img{
  width: 100%;
  height: auto;
  border: 20px solid maroon;
  margin: auto;
}


/* footer */
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  text-align: center;
}

footer{
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
}

footer li img {
  margin: 0 .5em;
  border: none;
}

.thumbnail{
  height: 20px;
  width: 20px;
  padding: 1em;
}

.pool{
  border: none;
}

/* navigation */
*{
 margin: 0;
  padding: 0;
}

nav{
  text-align: center;
  padding-bottom: 2em;
  font-size: 2em;
  justify-content: space-around;
  border: none;
}

nav li{
  display:inline-block;
  margin: 1px 13px;
  padding-top: 3px;
}

nav li a{
  
  color: maroon;
  text-decoration: none;
}

nav li:hover{
  text-decoration: underline;
}


/* media */

@media screen and (max-width:500px){
 
  nav{
    padding: none;
  }
  
  nav li{
    display: block;
    padding: 4px;
    margin: 5px 0;
    font-size: .75em;
  }
  
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 5px 0;
  font-size: 3em;
}

.letter{
   display: blcok;
   margin-left: auto;
  margin-right: auto;
   padding: 0 12em;
  }


/* Actors */
main section { 
  color: white;
  display: block;
  font-size: 20px;
  padding: 2em 2em 2em 2em;
}

img{
  border: 10px solid maroon;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 60%;
  height: auto;
 
}

}