/*
  DIAGNOSTIC STYLING
*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900"');

*{
  color: white;
  background-color: black;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer, article, main {
  grid-column: 1 / 4;
}


/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  font-family: 'Alegreya SC';
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding: 1em 1em;
  padding: 4px;
  margin: 5px 0;
}


.letter{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1em 12em; 
  font-size: 16px;
}

article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

/* Video */
video {
  width: auto;
  height: 40vh;
  display: block;
  margin: 0 auto;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: tomato;
}

/* Actors */
main section { 
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  font-size: 40px;
  padding: 2em 2em 2em 2em;
}

/* footer */
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  text-align: center;
}

footer{
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  list-style: none;
}

footer li img {
  margin: 0 .5em;
}

.thumbnail{
  height: 20px;
  width: 20px;
  padding: 1em;
}


/* navigation */
*{
 margin: 0;
  padding: 0;
}

nav{
  text-align: center;
}

nav li{
  display:inline-block;
  margin: 1px 13px;
  padding-top: 3px;
}

nav li a{
  
  color: red;
  text-decoration: none;
}

nav li:hover{
  text-decoration: underline;
}
/* media */
@media screen and (max-width:500px){
 
  nav{
    padding: none;
  }
  
  nav li{
    display: block;
    padding: 4px;
    margin: 5px 0;
  }
  
.title{
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 5px 0;
}

.letter{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 12em;
   margin: 5px 0;
  }

#justice{
  font-size: 13px;
}
#bad{
  font-size: 10px;
  justify-content: center;
   align-items: center;
}
}